body {
  background-color: rgb(233, 230, 230); 
  color:rgb(11, 11, 11) ;
  
  font-size: 16px;
  font-weight: normal;
  font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}

a{
  color:rgb(174, 0, 255);
  text-decoration: none;
}

a:hover{
  color:rgb(255, 0, 0);
  text-decoration: underline;
}
.avatar{
    width: 200px;
    height: 200px;
    border-radius: 28px;
    box-shadow: 4px 1px 12px rgba(0, 0, 0, 1);
}

.info{
  display: flex;
  margin-bottom: 20px;
  

}

@media (max-width: 700px) {
  .info {
    text-align: center;
    display: block;
  
  }
}

.info-text{
  margin-left: 40px;
}

.info-text h4{
  margin-bottom: 10px;
}

.info p{
    color:rgb(194, 174, 147);
    margin:0;
    font-style: italic;
    font-weight: bold;
    text-decoration: none;
    text-transform: none;
    letter-spacing: 3px;
    word-spacing: 2px;
}

.conteyner{
    max-width: 750px;
    margin: auto;
    padding-top: 30px;
}

.social{
  background: gray;  
}

.card{
  padding: 15px 20px;
  margin-bottom: 20px;
  border-radius: 15px;
}

.bg-tiffany{
  background: rgb(185, 220, 224);
}

.bg-red{
  background: rgb(253, 215, 227);
}

.bg-yellow{
  background: rgb(239, 239, 166);
}

.hobbies{
  padding: 0 20px;
}

.hobbies li{
  color:rgb(154, 153, 151);
  margin-bottom: 10px;

}

.table{
  width: 100%;
  
}

.table td{
  padding-bottom: 10px;
}

.table td:nth-child(2){
  color:rgb(153, 153, 153);
}

.link-list{
  list-style: none;
  padding: 0;
}

.link-list li{
  margin-bottom: 10px;
  padding-bottom: 5px;
  border-bottom: 1px solid rgb(213, 212, 212);
}

.form-group label {
  display: block;
  font-size: 14px;
  color: rgb(116, 116, 116);

}

.form-group input,
.form-group textarea {
  width: 100%;
  box-sizing: border-box;
  border: none;
  border-bottom: 1px solid rgb(121, 121, 121);
  background: transparent;
  color:black;
  padding: 15px 0 10px;
  outline: none;
  font-family: inherit;
}

.row {
  display: flex;
}

.row > .form-group {
  width: 50%;
  
}

.row > .form-group:first-child {
  margin-right: 20px;
}

.btn{
  background: black;
  padding: 15px 20px;
  color: aliceblue;
  border: none;
  font-family: inherit;
  cursor: pointer;
  border-radius: 20px;
  margin-top: 20px;
}

.btn:hover{
  opacity: 0.9;
}